
.main-container{

  height: 704px;
  width: 550px;
}

.entry-and-img {
  margin-left: 40px;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #F55A5A;
  height: 55px;
  gap: 7px;

}

.header-container > h1 {


  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14.46px;
  letter-spacing: -7.5%;
  color: #FFFFFF;
}

.globe {
  width: 24px;
  height: 24px;
  color: white;
}

.photo {
  border-radius: 5px;
  height: 168px;
  width: 125px;
  margin-right: 19px;
}

.location-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: -20px;
}

.location-row > p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 10.24px;
  margin-right: 12px;

}

.location-row > a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 10.24px;
  color: #918E9B;
}

.location-row > img {
  width: 7px;
  height: 9.55px;
  margin-right: 5px;
  transform: translateY(-1px); /* Adjust pixel value as needed */

}

.entry-and-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.desc-row {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.desc-row > h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 1px;
}

.desc-row > h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 10.24px;
  margin-bottom: 9px;
}

.desc-row > p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 1.5;

}

.info {
  display: flex;
  flex-direction: column;
  padding-right: 38px;

}


