
body {
  background-color: #23252C;
}

.main {
  width: 317px;
  background-color: #1A1B21 ;
  margin: 50px
}

.header > h1 {
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 4px;

}

.content {
  margin-left: 34px;
  margin-right: 36px;
  
}

.content h2{
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.content p {
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 10.24px;
}

.header > h2 {
  color: #F3BF99;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12.8px;
  margin-top: 0px;

}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}  


.My-Photo {
  width: 317px;
  height: 317px;
  object-fit: cover;
  display: block;

  /* how to get individually rounded corners */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  /* object-position: center; Centers the cropped area */
}

.mail-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 6px;
  height: 34px;
  width: 115px;
}

.mail-container > p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;

}

.mail-container > img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.vector-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color: #5093E2;
  border-radius: 6px;
  height: 34px;
  width: 115px;
}

.vector-container > p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
}

.vector-container > img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.footer {
  height: 64px;

}

.mail-vector-containers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px

}
